*{
	box-sizing: border-box;
}
body {
	font-size: 100%;
	font-family: GentiumPlus, sans-serif;
}
.gc {
	font-family: "New Athena Unicode", serif;
  font-size: 1.2rem;
}
h1 {
	font-size: 3rem;
	font-family: "New Athena Unicode", serif;
}
header, .foot {
	background-color: #d9ffb3;
	height: 10rem;
	color: #ff6600;
}
.foot{
	height: 100% !important;
}
h1, #title{
	color: #ff6600;
}
.title-italic {
	font-style: italic;
	color: #ff6600;
}
.navigazione {
	background-color: darkorange !important;
	}
.foglia {
	border-radius: 5px 25px !important ;
	background-color : #d9ffb3 !important;
	box-shadow: 0 3px darkgreen !important;
	color:#ff3300 !important;
	fill: #ff3300 !important;
	margin-left: 0.3rem !important;
	margin-right: 0.2rem !important;
	border: 1px solid darkgreen !important;
}
.foglia:hover, .btn-primary, .card-header, .studi {
	background-color: darkorange !important;
	color: #d9ffb3 !important;
	fill: #d9ffb3 !important;
}
li.foglia > a {
	color:#ff3300;
	fill: #ff3300;
}
li.foglia > a:hover, .toggolo {
	color: #d9ffb3;
	fill: #d9ffb3;
}
.foglia:active {
  background-color: darkgreen !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
span.margine-icona {
	margin-left: 1rem;
}
header div.first-leaf, header div.second-leaf {
	background-color: darkorange;
	border-radius: 5px 80px ;
	height: 6rem;
     margin: 2rem 0rem;
     justify-content: space-evenly;
}
header div.second-leaf {
	border-radius: 80px 5px !important;
}
.contenitore {
	border-radius: 5px 25px ;
}
div.tooltip {
	display: inline-block;
}
li.attivazione {
	background-color: #99ff33 !important;
}
div.searchbar {
	display: inline;     
}
.vetrina {
	position: relative;
}
.carousel-caption {
	border: 1px solid #800000;
	background-color: #d9ffb3;
  color: #800000;
  border-radius: 5px 70px;
  opacity: 80%;
  font-weight: bolder;
  width: 25rem;
  height: 5rem;
  position: absolute;
  left: 3%;
  top: 40%;
}
h5, h3.main-title {
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.carousel-caption {
		opacity: 60%;
		background: #ddff99;
		border: none;
		position: relative !important;
		bottom: 7rem !important;
	}
	.pargr-info {
		position: relative;
		bottom: 5rem;
	}
	.info-boxes {
		position: relative !important;
		bottom: 5rem !important;
	}
}
p#versi {
	font-style: oblique;
}
.pargr-info, .info-boxes {
	background-color: #d9ffb3;
	color:#ff3300;
}
p.descrizione {
	text-align: justify;
	font-size: 1.2rem;
	padding-top: 1.5rem;
}
.foglioline {
	border-radius: 10px 70px;
	border :solid 0.1rem #ff3300;
	box-shadow: 0 2px #ff3300;
	text-decoration: none;
	color:#ff3300;
}
.foglioline:active {
  text-decoration: none;
  box-shadow: 0 5px #ff3300;
  transform: translateY(4px);
}
.foglioline:hover {
	text-decoration: none;
	color: #006622;
	border:solid 0.1rem #006622;
	box-shadow: 0 2px #006622; 
}
.btn-primary {
	border-radius: 5px 25px;
	box-shadow: 0 3px darkgreen !important;
	border: 1px solid darkgreen !important;
	width: 8rem !important;
}
.btn-primary:hover {
	background-color : #d9ffb3 !important;
	color:#ff3300 !important;
}
.card {
	border: 2px solid #ff3300 !important;
	border-radius: 10px;
	height: 100%;
	position: relative;
}
.card-header {
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.btn-achille {
	margin-top: 4rem;
}
.btn-pastore {
	margin-top: 2.4rem;
}
.notes {
	margin-top: 5rem;
}
.saggi {
	padding: 2rem;
	border: 5px solid #d9ffb3;
	margin-top: 3rem;
	margin-bottom: 5rem;
	position: relative;
}
.chiarini {
	border-radius: 10px 100px;
}
.stan {
	border-radius:100px 10px ;
}
.leggere-ch, .leggere-st {
	border-radius: 5px 25px;
	background-color: #d9ffb3;
	border: 1px solid darkorange;
	color: #ff3300;
	position: absolute;
	bottom: 0%;
}
.leggere-ch:hover, .leggere-st:hover {
    color: #006622 !important;
    fill: #006622 !important;
    border: 1px solid #006622 !important;
  }
.leggere-st {
	border-radius: 25px 5px !important;
}
.testo {
	margin-bottom: 6rem;
}
.leggere-ch {
	right: 0%;
}
.leggere-st {
	left: 0%;
}
ul, .no-lista {
	list-style-type: none;
}
.foot {
	font-size: 0.8rem;
}
a.dipartimento {
	color: #ff6600;
}
a.dipartimento:hover {
	text-decoration: none;
	color: #006622 !important;
}


div.contenuto-checkmenu {
	padding-left: 2rem;
}
.orange {
	background-color: darkorange !important;
}
.orange > li {
	display: inline;
	color: #d9ffb3 !important;
	font-size: 0.9rem;
}
.orange > li > a {
	color: #d9ffb3 !important;
}
.orange>li>a:hover {
	text-decoration: none !important;
	color: #006622 !important
}
.briciole {
	border-top: 2px solid #d9ffb3
}
nav h5 {
	color: #d9ffb3;
}
.orange {
	background-color: darkorange !important;
}
.breadcrumb {
	padding-left: 4rem;
}
.poema, .ligreen {
	background-color: #d9ffb3 !important;
	color: #ff6600 !important;
}
.just {
	text-align: justify;
}
.ligreen > li {
	display: inline;
	color: #ff6600 !important;
	font-size: 0.9rem;
}
.ligreen > li > a {
	color: #ff6600 !important;
}
.ligreen>li>a:hover {
	text-decoration: none !important;
	color: #006622 !important
}
.briciole {
	border-top: 2px solid #d9ffb3
}
.cdwa {
	border-radius: 5px 25px !important ;
	background-color : #d9ffb3 !important;
	box-shadow: 0 3px darkgreen !important;
	color:#ff3300 !important;
	fill: #ff3300 !important;
	border: 1px solid darkgreen !important;
}
.cdwa:hover {
  text-decoration: none;
  color: #d9ffb3 !important;
  background-color : #ff3300 !important;
}
.trad {
	text-align: justify;
	font-size: 1.1rem;
}
table {
  border: 1px solid;
  overflow-x: auto;
}
tr, td, th {
	padding: 1rem;
	text-align: left;
	border-bottom: 1px solid;
	border-collapse: none;
}
th {
	background-color: #ffb84d;
	color: #d9ffb3;
}
.riferimenti {
	text-decoration: none !important;
	color: #ff6600 !important;
}
.riferimenti:hover {
	text-decoration: none !important;
	color: darkred !important;
}
p.riferimenti:hover {
  border-radius:0px 100px 100px 0px;
  background-color: #ddff99 !important;
  color: darkred !important;
}
.lg {
	font-size: 2rem;
}